#aboutDelani {
	text-align: center;
}

#whatWeDo {
	text-align: center;
	padding-left: 10px;
}

h3,
h2 {
	font-weight: bold;
}

h2,
h4 {
	text-align: center;
}

/*#image-icons {
	text-align: center;
}*/

/*#influencer-paragraph,
#content-paragraph,
#brand-paragraph {
	display: none;
	text-align: center;
}

#influencer-icon,
#content-icon,
#brand-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/