body{
    margin: 50px;
    background-image: url(backpic.png);
    
}
.questions-title{
    color: #770677;
    font-weight: bolder;
    text-decoration:underline;
font-size: 50px;
}
.question{
    color: #c97dc9;
}
.answer{
    color: white;
}
.copyright{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    color: #770677;
}

@media only screen and (max-width: 600px) {
    body {
      text-align: left;
      width: 100%;
      
    }
    .answer{
        width: 50%;
    }

}
